.process{
	&__image{
		height: 100%;
		padding: 16.8vh 0 0 41vw;
	}
	&__content{
		width: 40.7%;
		height: auto;
		position: absolute;
		padding: em(10) em(70) em(151) em(80);
		left: 0;
		bottom: 0;
		h2{
			font-size: em(60);
			letter-spacing: -2px;
		}
		p{
			font-size: em(13);
		}
	}
}