.process{
	&__image{
		height: 58.17%;
	}
	&__content{
		height: 41.82%;
		padding: em(45) em(38) em(25) em(26);
		h2{
			line-height: 1em;
			letter-spacing: -0.38px;
			margin-bottom: em(2);
			opacity: 0;
	    	transform: translateY(40px);
	    	transition: all .6s ease .5s;
		}
		p{
			@include font('Helvetica Neue');
			font-size: em(13);
			opacity: 0;
			transform: translateY(40px);
			transition: all .6s ease .7s;
		}
	}
	&.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p{
	    	opacity: 1;
	    	transform: translateY(0);
	    }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
