.concept{
	&__image{
		height: 100%;
		width: 48.5%;
		background-image: url('../img/R6SEIS01@2x.jpg');
		background-size: cover;
        background-position: center;
	}
	&__content{
		width: 51.5%;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: em(0) em(112) em(90) em(30);
		height: auto;
		h2{
			font-size: em(61);
		}
	}
}