.concept{
	&__image{
		height: 57.7%;
		background-image: url('../img/6SEIS1@2x.jpg');
		background-size: cover;
	}
	&__content{
		padding: em(45) em(20) em(10);
		height: 42.3%;
		h2{
			line-height: 1em;
			letter-spacing: -.63px;
			opacity: 0;
	    	transform: translateY(40px);
	    	transition: all .6s ease .7s;
		}
		p{
			margin-bottom: em(5);
			opacity: 0;
			transform: translateY(40px);
			transition: all .6s ease .5s;
		}
		.marquee{
			margin: 0 auto;
			overflow: hidden;
			white-space: nowrap;
			&__move{
				display: inline-block;
				transform: translatex(0); 
				animation: marquesina 18s infinite normal linear 1s;
			}
			&__space{
				padding-right: 10px;
			}
		}
	}
	&.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p{
	    	opacity: 1;
	    	transform: translateY(0);
	    }
    }
}
@keyframes marquesina {
  0% {transform: translatex(0); }
  100% {transform: translatex(-50%); }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}