.is-desktop {
	display: none;
}
.is-ipad {
	display: none;
}
.is-mobile {
}
.is-hidden {
	display: none;
}

@include medium {
	@import 'medium';
}
@include large {
	@import 'large';
}
@include xlarge {
	@import 'xlarge';
}
