.swiper-container{
  &--global{
    padding-top: 38px;
  }
  &--cover{
    .swiper-slide{
      background-position: center;
      &[data-swiper-slide-index="0"]{
        background-image: url('../img/R1UNO01@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="1"]{
        background-image: url('../img/R1UNO01-B@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="2"]{
        background-image: url('../img/R1UNO02@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="3"]{
        background-image: url('../img/R1UNO03@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="4"]{
        background-image: url('../img/R1UNO04@2x.jpg');
        background-size: cover;
      }
    }
    .swiper-pagination{
      display: block;
    }
  }
  &--material{
    .swiper-slide{
      background-size: cover;
      &[data-swiper-slide-index="0"]{
        background-image: url('../img/R2DOS01@2x.jpg');
      }
      &[data-swiper-slide-index="1"]{
        background-image: url('../img/R2DOS02@2x.jpg');
      }
      &[data-swiper-slide-index="2"]{
        background-image: url('../img/R2DOS03@2x.jpg');
      }
      &[data-swiper-slide-index="3"]{
        background-image: url('../img/R2DOS04@2x.jpg');
      }
    }
  }
  &--process{
    .swiper-slide{
      background-size: cover;
      &[data-swiper-slide-index="0"]{
        background-image: url('../img/R3TRES01@2x.jpg');
        background-position: bottom;
      }
      &[data-swiper-slide-index="1"]{
        background-image: url('../img/R3TRES02@2x.jpg');
        background-position: center;
      }
      &[data-swiper-slide-index="2"]{
        background-image: url('../img/R3TRES03@2x.jpg');
        background-position: bottom;
      }
      &[data-swiper-slide-index="3"]{
        background-image: url('../img/R3TRES04@2x.jpg');
        background-position: center;
      }
      &[data-swiper-slide-index="4"]{
        background-image: url('../img/R3TRES05@2x.jpg');
        background-position: bottom;
      }
      &[data-swiper-slide-index="5"]{
        background-image: url('../img/R3TRES06@2x.jpg');
      }
      &[data-swiper-slide-index="6"]{
        background-image: url('../img/R3TRES07@2x.jpg');
        background-position: center;
      }
      &[data-swiper-slide-index="7"]{
        background-image: url('../img/R3TRES08@2x.jpg');
        background-position: center;
      }
    }
  }
}