.swiper-container{
  &--global{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid;
    padding-top: 22px;
  }
  &--inner{
    width: 100%;
    height: 100%;
  }
  .swiper-slide{
    width: 100%;
    height: 100%;
    text-align: left;
    picture{
      width: 100%;
      height: auto;
    }
  }
  &--cover{
    .swiper-slide{
    	background-size: cover;
    	background-position: center;
      &[data-swiper-slide-index="0"]{
        background-image: url('../img/1UNO1@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="1"]{
        background-image: url('../img/1UNO1-B@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="2"]{
        background-image: url('../img/1UNO2@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="3"]{
        background-image: url('../img/1UNO3@2x.jpg');
        background-size: cover;
      }
      &[data-swiper-slide-index="4"]{
        background-image: url('../img/1UNO4@2x.jpg');
        background-size: cover;
      }
    }
    .swiper-pagination{
      display: none;
    }
  }
  &--material{
    .swiper-slide{
      background-size: cover;
      &[data-swiper-slide-index="0"]{
        background-image: url('../img/2DOS1@2x.jpg');
      }
      &[data-swiper-slide-index="1"]{
        background-image: url('../img/2DOS2@2x.jpg');
      }
      &[data-swiper-slide-index="2"]{
        background-image: url('../img/2DOS3@2x.jpg');
      }
      &[data-swiper-slide-index="3"]{
        background-image: url('../img/2DOS4@2x.jpg');
      }
	  &.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p{
	    	opacity: 1;
	    	transform: translateY(0);
	    }
      }
    }
  }
  &--process{
    .swiper-slide{
      background-size: cover;
      &[data-swiper-slide-index="0"]{
        background-image: url('../img/3TRES1@2x.jpg');
        background-position: bottom;
      }
      &[data-swiper-slide-index="1"]{
        background-image: url('../img/3TRES2@2x.jpg');
        background-position: center;
      }
      &[data-swiper-slide-index="2"]{
        background-image: url('../img/3TRES3@2x.jpg');
        background-position: bottom;
      }
      &[data-swiper-slide-index="3"]{
        background-image: url('../img/3TRES4@2x.jpg');
        background-position: bottom;
      }
      &[data-swiper-slide-index="4"]{
        background-image: url('../img/3TRES5@2x.jpg');
        background-position: bottom;
      }
    }
  }
  .swiper-pagination-bullets{
  	bottom: 12px;
  }
  .swiper-pagination-bullet{
    background-color: transparent;
    opacity: 1;
    border: 1px solid;
  }
  .swiper-pagination-bullet-active{
    background: c('black'); 
  }
}
.color-1{
  background-color:#009688;
}
.color-2{
  background-color:#4CAF50;
}
.color-3{
  background-color:#FFEB3B;
}
.color-4{
  background-color:#FF5722;
}
.color-5{
  background-color:#607D8B;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
