@include explorer {
	.nature__video{
		width: 100%;
		height: 100%;
		overflow: hidden;
		video{
		  position: absolute;
		  top: 50%; 
		  left: 50%;
		  transform: translate(-50%,-50%);
		  min-width: 100%; 
		  min-height: 100%; 
		  width: auto; 
		  height: auto;
		  overflow: hidden;
		}
	}
}
