.material{
	&__image{
		height: 100%;
	}
	&__content{
		position: absolute;
		top: 0;
    	left: 0;
		padding: em(60) em(20);
		z-index: 1;
		h2{
			color: c('white');
			line-height: 1em;
			letter-spacing: -1.5px;
			opacity: 0;
	    	transform: translateY(40px);
	    	transition: all .6s ease .7s;
		}
		p{
			@include font('Helvetica Neue', 'bold');
			font-size: em(13);
			color: c('white');
			letter-spacing: -0.15px;
			margin-bottom: em(10);
			opacity: 0;
			transform: translateY(40px);
			transition: all .6s ease .5s;
		}
	}
	&.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p{
	    	opacity: 1;
	    	transform: translateY(0);
	    }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
