// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light (Book)
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)
@charset "UTF-8";

$fonts: (
  'Helvetica Neue': "'Helvetica Neue', sans-serif",
);

//Mixins de Google Fonts basadas en array $fonts.
//Ex: @include font('raleway','bold');
@mixin font($fontkey, $type: 'regular') {
  @if map-has-key($fonts, $fontkey) {
    $font: map-get($fonts, $fontkey);

    font-family: #{$font};

    @if $type == heavy {
      font-weight: 900;
    } @else if $type == bold {
      font-weight: 700;
    } @else if $type == medium {
      font-weight: 500;
    } @else if $type == light {
      font-weight: 300;
    } @else {
      font-weight: 400;
    }
  } @else {
    @warn "Unknown `#{$fontkey}` in $fonts.";
  }
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helvetica-Neue/HelveticaNeue-Roman.eot'),
  //src: url('../fonts/Helvetica-Neue/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
    // url('../fonts/Helvetica-Neue/HelveticaNeue-Roman.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue/HelveticaNeue-Roman.woff') format('woff'),
    url('../fonts/Helvetica-Neue/HelveticaNeue-Roman.ttf') format('truetype'),
    url('../fonts/Helvetica-Neue/HelveticaNeue-Roman.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helvetica-Neue/HelveticaNeueBold.eot'),
  //src: url('../fonts/Helvetica-Neue/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    // url('../fonts/Helvetica-Neue/HelveticaNeueBold.woff2') format('woff2'),
    url('../fonts/Helvetica-Neue/HelveticaNeueBold.woff') format('woff'),
    url('../fonts/Helvetica-Neue/HelveticaNeueBold.ttf') format('truetype'),
    url('../fonts/Helvetica-Neue/HelveticaNeueBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}