* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
  @include font('Helvetica Neue');
}

body,
html {
  background-color: c('white');
  height: 100%;
}

html {
  font-size: (100/375) * 16 * 1vw;
}

body {
	transition: opacity 600ms ease;
	&.loading{
		opacity: 0;
	}
}
main {
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.page-wrapper{
  position: relative;
  height: 100%;
  padding: 7px;
  border: 1px solid;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
