.cover{
	&__image{
		width: 60.31%;
		height: 100%;
	}
	&__content{
		position: absolute;
		width: 39.69%;
		right: 0;
		bottom: 0;
		padding: em(10) em(110) em(75) em(34);
		z-index: 1;
		h2{
			font-size: em(100);
			letter-spacing: -0.36px;
			margin-left: -33.4%;
		}
	}
	&__icon-scroll{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: 15px;
		width: 18px;
		height: 10px;
		background-image: url('../img/flecha.svg');
		background-repeat: no-repeat;
		background-size: contain;
		cursor: pointer;
		z-index: 1;
		animation: iconscroll 1.6s infinite normal ease-in-out;
	}
}

@keyframes iconscroll {
  0% {transform: translateY(-15px); opacity:0; }
  90% {transform: translateY(0); opacity: 1; }
  100% {opacity: 0; }
}