.cover{
	&__image{
		width: 100%;
		height: 55.5%;
		/*height: 65.5vh;*/
	}
	&__content{
		padding: 22px 25px 30px 20px;
		opacity: 0;
		transform: translateY(40px);
		transition: all .6s ease 0s;
		h2{
			margin-left: -1px;
		}
		p{
			letter-spacing: -.13px;
		}
		&.starting{
			opacity: 0;
			transform: translateY(40px);
			transition: all .6s ease 0s;
		}
		&.start{
			opacity: 1;
			transform: translateY(0px);
			transition-delay: .7s;
		}
	}
	&.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p:not(.starting){
	    	opacity: 1;
	    	transform: translateY(0);
	    }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
