.nature{
	background-color: c('black');
	&__video{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		overflow: hidden;
		video{
			position: absolute;
		    top: 0;
		    left: 0;
		    display: block;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		}
		&--desktop{
			display: none;
		}
	}
	&__content{
		position: absolute;
	    top: 0;
	    left: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 em(40) 0 em(25);
		h2{
			color: c('white');
			line-height: 1em;
			opacity: 0;
	    	transform: translateY(40px);
	    	transition: all .6s ease .7s;
		}
		p{
			color: c('white');
			@include font('Helvetica Neue', 'bold');
			opacity: 0;
			transform: translateY(40px);
			transition: all .6s ease .5s;
		}
	}
	&.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p{
	    	opacity: 1;
	    	transform: translateY(0);
	    }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
