.header{
	width: calc(100% - 18px);
	height: 40px;
	&__frame{
		height: 8px;
		&:before{
			width: 6.26%;
		}
	}
	&__brand{
		h1{
			a{
				height: 30px;
				background-image: url('../img/TURBINA_STUDIO_LOGO@2x.png');
				background-repeat: no-repeat;
				background-size: auto 16px;
				background-position: 7px center;
			}
		}
	}
	&__page{
		padding-right: 7px;
	}
}