.header{
	width: calc(100% - 14px);
	position: absolute;
	height: 23px;
	z-index: 2;
	border: 1px solid;
	border-bottom: 0;
	&__frame{
		position: relative;
		width: 100%;
		height: 3px;
		background-color: c('white');
		border-bottom: 1px solid;
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 11.26%;
			height: 100%;
			right: 0;
			top: 0;
			background-color: c('black');
		}
	}
	&__main{
		background-color: c('white');
		border-bottom: 1px solid;
		display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: space-between;
	}
	&__brand{
		min-width: 100px;
		h1{
			a{
				height: 18px;
				text-indent: -9999px;
				display: block;
				background-image: url('../img/logo_mobile@2x.png');
				background-repeat: no-repeat;
				background-size: auto 12px;
				background-position: 5px center;
			}
		}
	}
	&__page{
		@include font('Helvetica Neue', 'bold');
		font-size: em(21);
		color: c('black');
		letter-spacing: -0.5px;
		padding-right: 5px;
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
