$frame: 9px;
.loader{
	&__line{
		&--v{
			width: 1px;
			height: calc(0vh - 18px);
		}
		&--h{
			width: calc(0vw - 18px);
		}
		&--top{
			top: $frame;
		}
		&--bottom{
			bottom: $frame;
		}
		&--left{
			left: $frame;
		}
		&--right{
			right: $frame;
		}
		&--dos.loading, &--tres.loading{
			height: calc(100vh - 18px);
		}
		&--uno.loading, &--cuatro.loading{
			width: calc(100vw - 18px);
		}
	}
}