$frame: 7px;
.loader{
	position: absolute;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	background: #fff;
	z-index: 9;
	display:flex;
	align-items:center;
	&__line{
		position: absolute;
		background: black;
		display:block;
		&--v{
			width: 1px;
			height: calc(0vh - 14px);
		}
		&--h{
			height: 1px;
			width: calc(0vw - 14px);
		}
		&--top{
			top: $frame;
		}
		&--bottom{
			bottom: $frame;
		}
		&--left{
			left: $frame;
		}
		&--right{
			right: $frame;
		}
		&--uno{
			transition: width 2s;
		}
		&--dos{
			transition: height 1.8s ease-in .2s;
		}
		&--tres{
			transition: width 1.7s ease-in .3s;
		}
		&--cuatro{
			transition: width 1.7s ease-in .3s;
		}
		&--dos.loading, &--tres.loading{
			height: calc(100vh - 14px);
		}
		&--uno.loading, &--cuatro.loading{
			width: calc(100vw - 14px);
		}
	}
	&__brand{
		width: 183px;
	    height: 250px;
	    background-image: url(../img/logotipo_contact@2x.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: center;
	    margin: 0 auto;
	    display: none;
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
