.contact{
	&__brand{
		height: 51.24%;
	}
	&__links{
		flex-direction: row;
		justify-content: space-between;
		max-width: 500px;
		margin: 0 auto;
		padding-top: 160px;
		a{
			width: 133px;
			padding: em(12) 0;
    		display: inline-block;
			@include font('Helvetica Neue', 'bold');
			text-align: left;
			transition: opacity .4s ease;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				opacity: .6;
			}
		}
	}
}