.contact{
	&__brand{
		width: 183px;
		height: 250px;
		background-image: url('../img/logotipo_contact@2x.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center bottom;
		margin: 0 auto;
		/*padding: em(186) 0 em(118);*/
	}
	&__links{
		width: 100%;
		/*height: 41.22%;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: em(80);
		a{
			width: 32.34%;
			padding: em(12) 0;
			border-bottom: 1px solid;
			@include font('Helvetica Neue');
			font-size: em(11);
			color: c('black');
			margin-bottom: em(15);
			text-align: center;
		}
		opacity: 0;
		transform: translateY(40px);
		transition: all .6s ease .5s;
	}
	&.swiper-slide-active{
    	.contact__links{
    		opacity: 1;
    		transform: translateY(0);
	    }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
