.awards{
	&__image{
		padding: 0;
		height: 81%;
		background-image: url('../img/R5CINCO01@2x.jpg');
		background-size: cover;
	}
	&__content{
		max-width: 330px;
		position: relative;
		left: em(128);
		padding: em(18) em(0) 12px em(0);
		h2{
			font-size: 47px;
			letter-spacing: -0.6px;
			line-height: em(14);
		}
		p{
			font-size: 13px;
			width: 306px;
			position: absolute;
			bottom: em(16);
			left: 100%;
			margin-left: -128px;
		}
	}
}