.awards{
	&__image{
		padding: em(55) 0 0 em(20);
		height: 52.7%;
		background-image: url('../img/5CINCO1@2x.jpg');
		background-size: cover;
	}
	&__content{
		padding: em(30) em(20) em(10) em(20);
		h2{
			margin-bottom: em(2);
			line-height: 1em;
			letter-spacing: -0.5px;
			opacity: 0;
	    	transform: translateY(40px);
	    	transition: all .6s ease .5s;
		}
		p{
			opacity: 0;
			transform: translateY(40px);
			transition: all .6s ease .7s;
		}
	}
	&.swiper-slide-active{
    	h2{
    		opacity: 1;
    		transform: translateY(0);
	    }
	    p{
	    	opacity: 1;
	    	transform: translateY(0);
	    }
    }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
