* {
}

.paragraph {
}
.link {
}
span {
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  @include font('Helvetica Neue');
  font-size: em(13);
  color: c('black');
}
.title {
  @include font('Helvetica Neue', 'bold');
  font-size: em(40);
  color: c('black');
  letter-spacing: -0.15px;
  div{
  	letter-spacing: -10.3px;
  	display: inline-block;
  	opacity: 0;
  	transform: translate3d(0px, 100px, 0px) rotateX(0deg) rotateY(0deg) scale(1);
  	transition: opacity 1000ms ease 15ms, transform 1000ms cubic-bezier(0, 0.7, 0.29, 0.97) 15ms;
  	&.start{
  		opacity: 1;
  		transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1);
  	}
  }
  span{
  	@include font('Helvetica Neue', 'bold');
  }
}
.subtitle {}
.text {
  p {}
  h2 {}
  a {}
  ul {}
  ol {}
  li {}
  blockquote {
    padding: 0 em(30);
    margin-top: em(-30);
    margin-bottom: em(30);
    p {
      margin-bottom: 0;
      font-size: em(20);
      letter-spacing: em(-0.3, 20);
      line-height: 1.45;
      &:before {
        content: '“';
        margin-right: em(-4, 20);
      }
      &:after {
        content: '”';
        margin-left: em(-4, 20);
      }
    }
  }
  img {
    margin: 0 em(-50);
    max-width: calc(100% + #{em(100)});
    margin-bottom: em(82.5);
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
